@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

hr {
    border-top: 0px;
}

button:focus {
    outline: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

iframe {
    border: 0px;
}

/*----------Navigation Bar-----------*/
.nav-wrap .navbar-brand {
    padding: 0px;
}

.nav-wrap .navbar-brand img {
    height: 80px;
    width: 245.277px;
}

.nav-wrap {
    background-color: #A80505;
}

.navbar {
    border: 0px;
    padding: 0px;
    height: 80px;
}

.navbar .navbar-nav {
    margin-right: 3.3480625rem;
}

.nav-wrap .navbar-nav li a {
    color: white;
    text-align: center;
}

.nav-wrap .navbar-nav li {
    margin: 0 0.9rem;
}

.nav-wrap .nav li a:focus,
.nav li a:hover {
    background-color: black;
}

.nav-wrap .nav>li.dropdown a:focus,
.nav>li.dropdown a:hover {
    background-color: black;
}

.nav-wrap .navbar-nav .dropdown-menu {
    background-color: #A80505;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-wrap .navbar-nav .dropdown-menu>li>a {
    color: white;
    padding: 10px 20px;
}

.nav-wrap .navbar-collapse {
    background-color: #A80505;
    z-index: 100;
}
.pd-desk-wrap{
    padding-left: 53.569px;
    padding-right: 53.569px;
}
/*-------------Featured Stories Desktop---------*/

.featured-stories-wrap, .geographies-wrap {
    width: 974.666px;
    margin-top: 50px;
}

.featured-stories-wrap .pd-grid .pd__gridcell img {
    width: 455.333px;
    height: 256.125px;
}

.featured-stories-wrap .featured--cards .text__wrap {
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    width:inherit;
}

.featured-stories-wrap .featured--cards .text__wrap .date {
    color: white;
    background-color: black;
    font-size: 12px;
}

.featured-stories-wrap .pd-grid .pd__gridcell .country__top {
    position: absolute;
    top: 0;
    left: 16px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 0 5px;
}

.featured-stories-wrap .featured--cards h6 a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.featured-stories-wrap .featured-stories-second {
    margin-top: 26px;
}

.featured-stories-wrap .featured-stories-second .col-4 img,
.videos-wrap .videos iframe {
    width: 294.622px;
    height: 165.725px;
}

.featured-stories-wrap .featured-stories-second .country__two,
.videos-wrap .videos .text__wrap .country__two {
    font-size: 14px;
    color: #D10013;
}

.featured-stories-wrap .featured-stories-second .text__wrap {
    height: 128px;
    padding: 10px;
    background-color: #F5F5F5;
}

.featured-stories-wrap .featured-stories-second .text__wrap h6 a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.featured-stories-wrap .featured-stories-second .text__wrap h6,
.videos-wrap .videos .text__wrap h6 {
    margin-top: 10px;
}

/*-------------Videos Desktop-------------*/
.videos-wrap{
    margin-top:50px;
}
.videos-wrap .videos .text__wrap h6 {
    font-size: 16px;
}

/*--------- Banner Desktop----------*/
.banner-dt-wrap{
    padding: 0 15px;
}
.banner-dt-wrap .banner__dt{
    height: 208px;
    background-color: #A80505;
    margin-top:40px;
    width:100%''
}
.banner-dt-wrap .banner__dt img{
    height:auto;
    max-width: 100%;
}
/*---------Geography Desktop Section-------*/
.geographies-wrap .title .title-text{
    background-color:black;
}
.geographies-wrap .title .right-border{
   border-color: black;
}
.geographies-wrap .title .title-line {
    background-color: #D10013;
}
.geographies-wrap .col-4 img{
 max-width:100%;
 width: 294.622px;
 height: 165.725px;
}
.geographies-wrap .text__wrap .country__two{
    font-size: 14px;
    color: #D10013;
}
.geographies-wrap .text__wrap h6{
    font-size:16px;
    margin-top:10px;
}
.geographies-wrap .asia-wrap, .geographies-wrap .europe-wrap, 
.geographies-wrap .latin-wrap, .geographies-wrap .ocenia-wrap,
.geographies-wrap .north-america-wrap{
    margin-top:55px;
}
.geographies-wrap .asia, .geographies-wrap .africa, 
.geographies-wrap .europe, .geographies-wrap .latin, 
.geographies-wrap .ocenia, .geographies-wrap .north-america{
    height: 253px;
}
.geographies-wrap .more-button button{
    background-color: white;
    border:1px solid #D10013;
    color: #D10013;
    font-weight: bold;
    padding: 9px 26px;
}
.geographies-wrap .more-button{
    text-align:center;
    margin-top: 50px;
}
.geographies-outer-wrap{
    margin-left: unset;
    margin-right: unset;
}
/*--------Geography Aside Section-------*/
.around--video{
    max-width: 100%;
    width: 294.622px;
    height: 165.725px;
}

.geographies-aside-wrap{
    margin-top: 50px;
}

.geographies-aside-wrap .geographies-aside-one,
.geographies-aside-wrap .geographies-aside-two,
.geographies-aside-wrap .geographies-aside-three{
    margin-bottom:55px;
}

.geographies-aside-wrap .geographies-aside-two img{
    width: 294.622px;
    height: 165.725px;
}

.geographies-aside-wrap .geographies-aside-two .people-history .col-12:nth-child(2){
    margin-top:35px;
}

.geographies-aside-wrap .geographies-aside-three .images .border img{
    width:98.273px;
    height:90px;
}   

.geographies-aside-wrap .geographies-aside-four .social-media{
    padding:0 8px;
}

.geographies-aside-wrap .geographies-aside-four .social-media .d-flex a{
    padding:8px 10px;
}

/*--------------Title Desktop--------------*/
.title {
    position: relative;
    padding-left: 13px;
    height: 24px;
    margin-bottom: 20px;
}

.title .title-line {
    background-color: black;
    height: 1px;
}

.title .title-text {
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    color: white;
    background-color: #D10013;
    font-weight: 700;
    padding: 4px 18px;
}

.title .title-text .title-skew {
    transform: skewX(16deg);
    display: inline-block;
}

.title .title-text-background {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -12px;
}

.title .left-border {
    border-left: 1px solid #D10013;
    border-bottom: 1px solid #D10013;
    height: 15px;
    width: 15px;
    position: absolute;
    margin-left: -6px;
    margin-top: 18px;
}

.title .right-border {
    border-right: 1px solid #D10013;
    border-top: 1px solid #D10013;
    height: 15px;
    width: 15px;
    position: absolute;
    margin-left: -9px;
    margin-top: -9px;
}

.title .border-boxes {
    position: relative;
    width: 100%;
    text-align: left;
    /* margin: 0 auto; */
    max-width: 100%;
    transform: skewX(-16deg);
}

 footer .footer__dt img {
    width:100%;
    max-width: 100%;
    height:auto;
}

footer .footer__dt{
    background-color:#A80505;
    padding: 18px 32px;
}

footer .footer__dt .subscribe h4{
    color:white;
    font-size:16px;
    font-weight:600;
    margin-bottom:10px;
}

footer .footer__dt .social__icons ul li{
    margin:0 10px;
}

footer .footer__dt .subscribe--input{
    position:relative;
}

footer .footer__dt .subscribe--input input{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer .footer__dt .subscribe--input .go--link{ 
    background-color:#f9d30a;
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem;
}

footer .footer__dt .go--link a{
    color:#A80505;    
    font-size: 14px;
    line-height: 38px;
    padding: 0 10px;
}

footer .footer__dt .social__icons{
    line-height:70px;
}
@media screen and (max-width:425px) {

    /*-------------Navigation Bar Mobile--------------- */
    .navbar {
        border: 0px;
        padding: 0px;
        height: 48.857px;
    }

    .nav-wrap .navbar-brand img {
        height: 48.857px;
        width: unset;
    }

    .nav-wrap .navbar-toggler {
        border: none;
    }

    .navbar .navbar-nav {
        margin-right: initial;
    }

    .nav-wrap .navbar-toggler-icon {
        background-size: unset;
    }

    .nav-wrap .navbar-toggler-icon {
        background-image: url('images/Hamburg.png');
    }

    .nav-mobile-wrap .navbar-nav li a {
        color: white;
    }

    .nav-mobile-wrap .navbar-header {
        border-bottom: 1px solid white;
    }

    .nav-mobile-wrap .nav li a:focus,
    .nav li a:hover {
        background-color: black;
    }

    .nav-mobile-wrap .nav>li.dropdown a:focus,
    .nav>li.dropdown a:hover {
        background-color: black;
    }

    .nav-mobile-wrap .navbar {
        height: 48.857px;
        min-height: 48.857px;
        background-color: #A80505;
        border: none;
        border-radius: 0px;
        margin-bottom: 1px;
    }

    .nav-mobile-wrap .navbar-toggle .icon-bar {
        background-color: white;
        height: 2px;
        margin: 5px;
    }

    .nav-mobile-wrap .navbar .navbar-header .navbar-toggle {
        margin-right: 5px;
        padding: 4px 10px;
        margin-bottom: 5px;
    }

    .nav-mobile-wrap .podcast-nav {
        position: absolute;
        margin-top: 15px;
        right: 60px;
    }

    .nav-mobile-wrap .search-nav {
        position: absolute;
        right: 100px;
        margin-top: 15px;
    }

    .nav-mobile-wrap .navbar-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-mobile-wrap .navbar-collapse {
        background-color: #A80505;
        border-top: 0px;
    }

    .nav-mobile-wrap .navbar-nav>li>a {
        font-size: 18px;
        padding: 15px 35px;
    }

    .nav-mobile-wrap .navbar-nav {
        margin: 0px -15px;
    }

    .nav-mobile-wrap .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 50px;
    }

    .nav-mobile-wrap .navbar-nav .dropdown-menu {
        background-color: #A80505;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav-mobile-wrap .navbar-nav .dropdown-menu>li>a {
        color: white;
        padding: 10px 20px;
    }

    /*------------Homepage Header Mobile Slider------------*/
    .mob-slider-wrap {
        height: 239.063px;
        box-shadow: 2px 2px 13px 0 rgba(0, 0, 0, .75);
    }

    /*------------Homepage Header Cards-----------*/
    .home-mob-cards-wrap .home-mob-cards .col-6:nth-child(1) {
        padding-left: 10px;
        padding-right: 5px;
        z-index: -10;
    }

    .home-mob-cards-wrap .home-mob-cards .col-6:nth-child(2) {
        padding-left: 5px;
        padding-right: 10px;
        z-index: -10;
    }

    .home-mob-cards-wrap {
        margin-top: 24px;
        height: 229.529px;
        margin-bottom: 72px;
    }

    .home-mob-cards-wrap .home-mob-cards .content-wrap {
        width: 100%;
        height: 229.529px;
        box-shadow: 2px 2px 13px 0 rgba(0, 0, 0, .75);
    }

    .home-mob-cards-wrap .home-mob-cards .content-wrap .card-text {
        font-weight: 600;
        color: black;
        font-size: 18px;
        padding: 10px 15px;
        max-height: 134px;
        overflow: hidden;
    }

    .home-mob-cards-wrap .home-mob-cards .content-wrap .card-text a {
        color: black;
    }

    /*-----------Title----------------*/
    .title {
        position: relative;
        padding-left: unset;
    }

    .title .title-line {
        background-color: black;
        height: 1px;
    }

    .title .title-text {
        text-transform: uppercase;
        font-size: 18px;
        font-style: italic;
        color: white;
        background-color: #D10013;
        font-weight: 700;
        padding: 4px 18px;
    }

    .title .title-text .title-skew {
        transform: skewX(16deg);
        display: inline-block;
    }

    .title .title-text-background {
        width: 100%;
        position: absolute;
        text-align: center;
        top: -12px;
    }

    .title .left-border {
        border-left: 1px solid #D10013;
        border-bottom: 1px solid #D10013;
        height: 15px;
        width: 15px;
        position: absolute;
        margin-left: -6px;
        margin-top: 18px;
    }

    .title .right-border {
        border-right: 1px solid #D10013;
        border-top: 1px solid #D10013;
        height: 15px;
        width: 15px;
        position: absolute;
        margin-left: -9px;
        margin-top: -9px;
    }

    .title .border-boxes {
        position: relative;
        width: 85%;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        transform: skewX(-16deg);
    }

    .white-title .title-line {
        background-color: white;
        height: 1px;
    }

    .white-title .title-text {
        text-transform: uppercase;
        font-size: 18px;
        font-style: italic;
        color: #A80505;
        background-color: white;
        font-weight: 700;
        padding: 4px 18px;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 132px;
    }

    .white-title .title-text-background {
        width: 100%;
        position: absolute;
        text-align: center;

    }

    .white-title .border-boxes {
        position: relative;
        top: -44px;
        /* max-width: 100%; */
        transform: skewX(-16deg);
    }

    .white-title .left-border {
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        height: 15px;
        width: 15px;
        position: absolute;
        margin-left: -72px;
        margin-top: 33px;
    }

    .white-title .right-border {
        border-right: 1px solid white;
        border-top: 1px solid white;
        height: 15px;
        width: 15px;
        position: absolute;
        margin-left: 56px;
        margin-top: 2px;
    }

    .white-title .title-text .title-skew {
        transform: skewX(16deg);
        display: inline-block;
    }

    .black-title {
        position: relative;
    }

    .black-title .title-line {
        background-color: #A80505;
        height: 1px;
    }

    .black-title .title-text {
        text-transform: uppercase;
        font-size: 18px;
        font-style: italic;
        color: white;
        background-color: black;
        font-weight: 700;
        padding: 4px 18px;
        transform: skew(-7deg);
    }

    .black-title .title-text-background {
        width: 100%;
        position: absolute;
        text-align: center;
        top: -12px;
    }

    .black-title .border-boxes {
        position: relative;
        width: 85%;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        transform: skewX(-16deg);
    }

    .black-title .left-border {
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        height: 15px;
        width: 15px;
        position: absolute;
        /* top: 17px;
        left: 160px; */
        margin-left: -6px;
        margin-top: 18px;
    }

    .black-title .right-border {
        border-right: 1px solid black;
        border-top: 1px solid black;
        height: 15px;
        width: 15px;
        position: absolute;
        /* top: -9px;
        right: 160px; */
        margin-left: -9px;
        margin-top: -9px;
    }

    .black-title .title-text .title-skew {
        transform: skewX(16deg);
        display: inline-block;
    }

    /*------------NewsWire Section---------*/
    .newswire-mob-wrap,
    .africa-mob-wrap {
        margin-bottom: 48px;
    }

    /*----------Around The World----------*/
    .aroundworld-video iframe,
    .videotitle-video iframe {
        width: 100%;
        height: 208.328px;
        margin-top: 15px;
    }

    .aroundworld-mob-wrap,
    .videotitle-mob-wrap {
        margin-bottom: 48px;
    }

    /*----------Podcasts---------*/
    .podcasts-mob-wrap {
        background-image: url("images/Podcastbg.png");
        height: 155.486px;
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .podcasts-mob-wrap .podcasts-text {
        margin-top: 60px;
        text-align: center;
    }

    .podcasts-mob-wrap .podcasts-text div a {
        color: white;
        font-size: 16px;
    }

    .podcasts-mob-wrap .podcasts-text div {
        margin-bottom: 10px;
    }

    /*--------Banner---------*/
    .banner-mob-wrap {
        height: 155.486px;
        background-color: #A80505;
        margin-bottom: 48px;
    }

    /*---------Africa---------*/
    .africa-mob-wrap .black-title hr {
        border-top: 0px;
    }

    /*Footer Responsive*/
    footer {
        background-image: url("images/Footer.png");
        padding: 0px 25px;
        text-align: center;
        height: 100px;
    }

    footer ul {
        padding-top: 46px;
    }

    footer>ul>li {
        display: inline-block;
    }

    footer>ul>li:not(:last-child) {
        margin-right: 30px;
    }

    footer .subscribe {
        font-size: 16px;
        font-weight: 600;
        color: #A80505;
        width: 127.821px;
        height: 27.62px;
        border-radius: 3px;
    }

    footer .subscribe button {
        width: 127.821px;
        height: 27.62px;
        background: white;
        border: 0px;
    }
}

@media screen and (max-width:375px) {
    footer>ul>li:not(:last-child) {
        margin-right: 10px;
    }
}

/*----------Media Query End------------*/